.App {
    padding: 30px;
    display: flex;
    background-color: #f3ecec;
    height: 100vh;
    margin: auto;

}

.counter {
    padding-left: 20px;
    margin-left: 20px;
    border: solid #3a2d2d;
    width: 200px;
    height: 150px;
    background-color: #4986e0;
    border-radius: 5px;

}

.buttonSet {
    width: 40px;
    height: 40px;
    border: solid #b7e1f1;
}

.buttonReset {
    width: 60px;
    height: 40px;
    border: solid #b7e1f1;
}

.in {
    border: solid #9d8484;
    padding-left: 80px;
    margin-left: 60px;
}